#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  font-family: Cambria;
  text-align: center;
  color:red;
}

#comment-form {
    display:none;
}

#fact-btn {
    text-align: center;
}

#com {
    text-align: left;
}
.comment-input {
    width: 80%;
    height: 40px;
}


h1 {
    font-family: Cambria;
    text-align: center
}

p {
    font-family: Cambria;
    text-align:center;
    color: blue;
}